<!DOCTYPE html>
<html lang="es-ES">

<head>

    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/css/registro.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Registro</title>
</head>

<body>
    <div class="container">
        <div class="form-image">
            <img src="{% static 'polls/img/image1.svg' %}" alt="">
        </div>
        <div class="form">
            <form action="#">
                <div class="form-header">
                    <div class="title">
                        <h1>Registro</h1>
                    </div>
                    <div class="login-button">
                        <button><a href="#">Ingresar</a></button>
                    </div>
                </div>

                <div class="input-group">
                    <div class="input-box">
                        <label for="firstname">Nombre</label>
                        <input id="firstname" type="text" name="firstname" required>
                    </div>

                    <div class="input-box">
                        <label for="lastname">Apellido</label>
                        <input id="lastname" type="text" name="lastname" required>
                    </div>
                    <div class="input-box">
                        <label for="email">E-mail</label>
                        <input id="email" type="email" name="email" required>
                    </div>

                    <div class="input-box">
                        <label for="number">Telefono</label>
                        <input id="number" type="tel" name="number" required>
                    </div>

                    <div class="input-box">
                        <label for="password">Contraseña</label>
                        <input id="password" type="password" name="password" required>
                    </div>


                    <div class="input-box">
                        <label for="confirmPassword">Confirmar contraseña</label>
                        <input id="confirmPassword" type="password" name="confirmPassword" required>
                    </div>
                </div>

                <div class="continue-button">
                    <button><a href="#">Continuar</a> </button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>